.placeholder {
    &__item {
      padding: $s-12;
      border: 1px solid #eee;
      margin-bottom: $s-12;
      display: flex;
      line-height: 1;
    }
  
    &__car-details {
      padding: 0 $s-24;
      font-size: $f-14;
      width: calc(100% - 125px);
    }
  
    &__car-left-image {
      width: 125px;
      height: 70px;
      background: #eee;
    }
  
    &__car-detail-line1, &__car-detail-line2, &__car-detail-line3 {
      background: #eee;
      color: #eee;
    } 
  
    &__car-detail-line1 {
      font-size: 20px;
      font-weight: bold;
      width: 60%;
    }
  
    &__car-detail-line2 {
      margin: 8px 0;
      width: 60%;
    }
  
    &__car-detail-line3 {
      width: 10%;
      margin-top: $s-12;
    }  
  }
  
