.car-details-container {
  
    &__car-info-container {
      display: flex;
      width: 70%;
      margin: auto;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  
    &__car-info-main {
      width: 60%;
    }
  
    &__car-actions-container {
      width: 30%;
      margin-left: 10%;
    }
  
    &__car-title {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 24px;
    }
  
    &__car-additional-info {
      font-size: 24px;
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 24px;
    }
  
    &__car-description {
      margin-top: 0;
      line-height: 1.6;
      font-weight: 500;
    }
  
    &__car-actions {
      border: 1px solid #eee;
      padding: 24px;
  
      button {
        display: block;
        margin-left: auto;
      }
    }
  
    &__car-action-description {
      margin-top: 0;
      line-height: 1.5;
      font-weight: 500;
    }
  }
  